
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}
h2,
p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

main{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    margin: 0px;
    padding: 20px;
    background: white;
    min-height: 80vh;
    width: 70%;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(0.5rem);
    display: flex;
    top: 20%;
}
.circle1,
.circle2 {
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.1)
    );
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 10%;
    right: 10%;
    height: 40rem;
    width: 40rem;
}
.circle2 {
    bottom: 10%;
    left: 10%;
}
.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;

}
.links link:nth-child(1) img{
    height: 0px;
}
.links .link:nth-child(3) img{
    border-radius: 50px;
    color: aqua;
}
.links .link:nth-child(4) img{
    border-radius: 50px;
    background-color: aqua;
}
.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}
.link h2 {
    padding: 0rem 2rem;
}

.right_side {
    flex: 2;
}

.user img{
    border-radius: 5rem;
}

/* GAMES */
.status {
    margin-bottom: 3rem;
}

.status input {
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}

.right_side{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

.navbar a {
    display: block;
    text-align: center;
    padding: 8px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}
/* Hide the link that should open and close the topnav on small screens */
.navbar.icon1 {
    display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .navbar a {
        display: none;
    }
    .navbar a.icon1 {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon1 {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.navbar a:hover{
    background: rgb(108, 219, 235, 0.5);
}


.active {
    top: 20px;
    background-color: rgb(108, 219, 235, 0.5);
}

ul {
    position: fixed;
    top: 20px;
    width: 50%;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: background-color: rgb(108, 219, 235, 0.5);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:background-color: rgb(108, 219, 235, 0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
}

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 100;
    font-size: 150%;

}

.dropdown-content a:hover {
    background-color: rgb(108, 219, 235, 0.5);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.card {
    display: flex;
    background: linear-gradient(
        to left top,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
    max-width: 100%;
}

.progress {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}
.cards .card:nth-of-type(1) .progress::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 2%;
}
.cards .card:nth-of-type(2) .progress::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 10%;
}

.cards .card:nth-of-type(3) .progress::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 30%;
}
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.percentage {
    font-weight: bold;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.user img{
    width: 100px
}
.status h2{+
    color: #426696;
    font-weight: 600;
    font-size: 2.4rem;
    opacity: 0.8;
}
.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.9);
    transition: all 0.3s ease-out;
}
.wrapper .button:hover{
    width: 170px;
}
.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
    background: #500050;
}
.wrapper .button:nth-child(2):hover .icon{
    background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
    background: #e4405f;
}

.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
    color: #fff;
}
.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
    color: #500050;
}
.wrapper .button:nth-child(2) span{
    color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
    color: #E1306C;
}




